
@{
    ViewBag.Title = "Orders";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Аптека</title>
</head>
<body>
    <div>
        @foreach (var o in ViewBag.Orders)
        {
            <h3>Список лекарств</h3>
            <table>
                <tr>
                    <td><p>Имя покупателя</p></td>
                    <td><p>Адресс доставки</p></td>
                    <td><p>Email</p></td>
                    <td><p>Телефон</p></td>
                    <td><p>Сумма</p></td>
                    <td><p>Список лекарств</p></td>
                </tr>
                
                    <tr>
                        <td><p>@o.BuyersName</p></td>
                        <td><p>@o.ShippingAddress</p></td>
                        <td><p>@o.Email </p></td>
                        <td><p>@o.PhoneNamber</p></td>
                        <td><p>@o.AmountPrice</p></td>
                        <td><p>
                            <tr>
                                <td><p>Название</p></td>
                                <td><p>Латинское название</p></td>
                                <td><p>Цена</p></td>
                                <td><p>Описание</p></td>
                            </tr>
                            @foreach (var b in o.Items)
                            {
                                <tr>
                                    <td><p>@b.Name</p></td>
                                    <td><p>@b.LatinName</p></td>
                                    <td><p>@b.Price</p></td>
                                    <td><p>@b.Description</p></td>
                                </tr>
                            }
                        </p></td>
                    </tr>
                
            </table>
        }
    </div>
</body>
</html>
